# Dependencias
node_modules
.pnp
.pnp.js

# Producción
dist
dist-ssr

# Archivos de entorno (CRÍTICO PARA FIREBASE)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor de código y SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?